<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  .jumbotron{
    background-color: lightgreen;
  }
</style>

</head>

<body>
  <div class="container">
  <div class="jumbotron">
<!-- <form action='/edit_data/' method="post"> -->
<center>
  {% csrf_token %}
  <table>
      <!-- <tr>
        <td>id</td>
        <td><input type='text' name='id' value={{obj.id}}></td>
      </tr> -->
      <tr>
        <td>firstname</td>
        <td><input type='text' name='firstname' value={{obj.firstname}}></td>
      </tr>
      <tr>
        <td>lastname</td>
        <td><input type='text' name='lastname' value={{obj.lastname}}></td>
      </tr>     
      <tr>
        <td>empid</td>
        <td><input type='text' name='empid' value={{obj.emp_id}}></td>
      </tr>
      <tr>
        <td>empid</td>
        <td><input type='text' name='empid' value={{obj.mail_id}}></td>
      </tr>
      <tr>
        <td>empid</td>
        <td><input type='text' name='empid' value={{obj.contact_no}}></td>
      </tr>
      <tr>
        <td>gender</td>
       <td><input type='text' name='gender' value={{obj.gender}}></td>
      </tr>
    </table><br>
    click <a href="/empdetails/"> <strong><i>here</i></strong> </a>to view employee details

</center>
</form>
  </div>
  </div>
</body>
</html>
